<a href="https://colab.research.google.com/github/amosmateyu/amos_mateyu_data_scientist/blob/main/reading_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import csv
from openpyxl import Workbook

In [3]:
#this is data that want to write on csv file
data=[ ["name","district","age","school"],
      ["amos mateyu","nsanje",20,"nsanje secondary"],
       ["gift amos","chikwawa ",24,"kapalakonje"]

]

In [4]:
#creating the csv  file which l want add my data
csv_file="location.csv"

In [9]:
#creating and open my csv file
with open(csv_file,mode="w",newline="") as file:
  writer_object=csv.writer(file)
  for message in data:
    writer_object.writerow(message)

In [10]:
with open(csv_file,mode="r") as file:
  reader_object=csv.reader(file)
  for messages in reader_object:
    print(messages)

['name', 'district', 'age', 'school']
['amos mateyu', 'nsanje', '20', 'nsanje secondary']
['gift amos', 'chikwawa ', '24', 'kapalakonje']

In [11]:
#creating a text file to store my notes
data_science_text_file="data_wrangling.txt"

In [25]:
#creating my notes about data wrangling and exploratory data analysis
notes=[["This data science"],["we are going to  deal with data wrangling and exploratory data analysis"],
       ["so that is data wrangling"],["data wrangling is a process of turning raw data into useful products and help people to make dicision"]]

In [26]:
with open(data_science_text_file,mode="w") as file:
  object_writer=csv.writer(file)

  for messagess in notes:
    object_writer.writerow(messagess)

In [27]:
with open(data_science_text_file,mode="r") as file:
  object_readers=csv.reader(file)
  for notes in object_readers:
    print(notes)

['This data science']
['we are going to  deal with data wrangling and exploratory data analysis']
['so that is data wrangling']
['data wrangling is a process of turning raw data into useful products and help people to make dicision']

In [35]:
#creating tabular separatory file to school details
tsv_for_school_details="school_details.tsv"

In [36]:
#school details
school_details=[["name of school","location","program of study"],{"name":"mzuzu university","location":"Malawi","program":"data science"},]

In [40]:
#creating tsv file which store my school details
with open(tsv_for_school_details,mode="w",newline="") as file:
  object_writer=csv.writer(file,delimiter="\t")
  for details in school_details:
    object_writer.writerow(details)

In [42]:
#reading tsv file which contain my school details
with open (tsv_for_school_details,mode="r") as file:
  object_reader=csv.reader(file)
  for school in object_reader:
    print(school)

['name of school\tlocation\tprogram of study']
['name\tlocation\tprogram']

CREATING AN EXCELL FILE

In [68]:


sheet = Workbook()


ws = sheet.active


data = [
    ['Name', 'Age', 'City'],
    ['Alice', 30, 'New York'],
    ['Bob', 25, 'San Francisco'],
    ['Charlie', 35, 'Seattle']
]

for row in data:
    ws.append(row)


file_name = 'address of different people.xlsx'


sheet.save(file_name)

OPENING AN EXCELL FILE

In [69]:

wb = load_workbook(filename=file_name)


ws = wb.active

for row in ws.iter_rows(values_only=True):
    print(row)


wb.close()

('Name', 'Age', 'City')
('Alice', 30, 'New York')
('Bob', 25, 'San Francisco')
('Charlie', 35, 'Seattle')